
<section data-ng-controller="ListsController">

<!-- IF USER IS NOT LOGGED IN, SHOW HOMEPAGE -->

<!-- TODO:  Is this the right way to do this? -->
	<section ng-hide="authentication.user">
		<div ng-include=" '/modules/core/views/header.client.view.html' "></div>
		<div ng-include=" '/modules/core/views/unsigned_home.html' "></div>
		<div ng-include=" '/modules/core/views/unsigned_footer.html' "></div>
	</section>

	<!-- IF USER IS LOGGED IN, SHOW APPLICATION MAINPAGE -->
	<section data-ng-init="find()" ng-hide="!authentication.user">

		    <div class="row">

		    	<!-- LEFT SIDEBAR (Lists) -->
				<div ng-include=" '/modules/core/views/left_sidebar_partial.html' "></div>

				<!-- MAIN WINDOW (Tasks) -->
				<div class="col-md-10">
					<div ng-include=" '/modules/core/views/tasks_partial.html' "></div>
				</div>

		    </div>

	</section>
</section>
