<section data-ng-controller="ListsController" data-ng-init="find()">
    <div class="page-header">
        <h1>TaskManager</h1>
    </div>

	<section>

	    <div class="row">

			<!-- LIST DETAILS -->
	    	<div class="col-md-3">
	    		<div class="lists">

		    		<h2>Lists</h2>

 					<ul data-ng-repeat = "list in lists">

 						<li>
 							<a ng-click="findTasks($index)"> {{list.name}} </a>
 							<div class="pull-right" data-ng-show="authentication.user._id == list.user._id">
			                        <a class="delete" ng-click="remove(list)">
			                            <i class="glyphicon glyphicon-trash"></i>
			                        </a>
		                    </div>
 						</li>

 					</ul>

			    	<!-- ADD NEW LIST -->
					<form name="newListForm" id="newListForm" novalidate>
	                    <fieldset>
	                        <td>
		                        <input type="text" data-ng-model="listName" id="listName" class="form-control" placeholder="Name" required>
		                    </td>

							<td>
								<input type="submit" class="btn btn-default" ng-click="create()">
							</td>
	                	</fieldset>
	                </form>

	    		</div>
	    	</div>

			<!-- TASK DETAILS -->
	    	<div class="col-md-9">

		    	<!-- LIST HEADING -->
				<h2 class="list-group-item-heading" data-ng-bind="lists[ getSelectedList() ].name"></h2>
	            <small class="list-group-item-text">
					Posted on
					<span data-ng-bind="lists[ getSelectedList() ].created | date:'medium'"></span>
					by
					<span data-ng-bind="lists[ getSelectedList() ].user.displayName"></span>
				</small>

	    		
	                <!-- Table -->
	                <table class="table">
	                    <thead>
		                    <tr>
		                        <th>Status</th>
		                        <th>Name</th>
		                        <th>Description</th>
		                        <th>Start Date</th>
		                        <th>Due Date</th>
		                        <th></th>
		                    </tr>
	                    </thead>
						<tbody>
		                    <tr data-ng-repeat="task in lists[ getSelectedList() ].tasks" ng-class="{completedTask: task.status}">
		                        <td>
		                        	<input type="checkbox" data-ng-bind="task.status" ng-checked="task.status" ng-click="toggleStatus(task)">
		                        </td>
		                        <td>{{task.name}}</td>
		                        <td>{{task.description}}</td>
		                        <td>{{task.startDate}}</td>
		                        <td>{{task.dueDate}}</td>
		                        
		                        <td>
				                    <div class="pull-right">
				                        <a ng-click="removeTask($index)">
				                            <i class="glyphicon glyphicon-trash"></i>
				                        </a>
				                    </div>
		                        </td>
		                    </tr>
							
							<tr>
		                    	<!-- Add New Task to this Todo list-->
		                        <form name="newTaskForm" id="newTaskForm" ng-submit="createTask( getSelectedList() )" novalidate>
		                            <fieldset>
		                                <div class="form-group">
		                                    <tr>
		                                    <!--Checkbox (empty)-->
		                                    <td></td>

		                                    <td>
		                                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
		                                    </td>
		                                    <td>
		                                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Description">
		                                    </td>
		                                    <td>
		                                        <input type="date" data-ng-model="startDate" id="startDate" class="form-control" placeholder="Start Date">
		                                    </td>
		                                    <td>
		                                        <input type="date" data-ng-model="dueDate" id="dueDate" class="form-control" placeholder="End Date">
		                                    </td>

											<td><input type="submit" class="btn btn-default" ng-click="createTask(getSelectedList())"></td>

		                                    </tr>

		                                </div>

		                                <div data-ng-show="error" class="text-danger">
		                                    <strong data-ng-bind="error"></strong>
		                                </div>
		                            </fieldset>
		                        </form>
		                    </tr>
		                    
	                    </tbody>
	                        

                    </table>

	    	</div>

	    </div>

    </section>


