<!-- LIST DETAILS -->
<div class="left_sidebar">




	<div class="search_bar">
		<input type="text" id="searchBar" class="form-control" placeholder="Search">
	</div>
    

	<div class="lists">

		<div class="table table-hover sidebar-table">
			<table>
				<thead>
					<tr>
						<th>
							Lists
						</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat = "list in lists" ng-click="findTasks($index)">
						<td>
							<!-- Each List Item -->
							{{list.name}} 
						</td>
					</tr>

					<tr ng-class="{ 'hidden': ! showNewToDoForm }">
						
				    	<!-- ADD NEW LIST -->
						<form name="newListForm" id="newListForm" class="newListForm" novalidate>
				            <formgroup>
				                <td>
				                    <input type="text" data-ng-model="listName" id="listName" class="form-control" placeholder="New List" required>
				                </td>

								<td>

								  <button type="submit" class="btn btn-default" ng-click="create()"><span class="glyphicon glyphicon-plus"></span></button>
								</td>
				        	</formgroup>
				        </form>
					</tr>

				</tbody>
			</table>		
		</div>


        <div class="newToDo">
            <button type="button" class="btn" ng-click="showNewToDoForm = ! showNewToDoForm" >
                New ToDo
            </button>
        </div>

    </div>

</div>