<!-- SIGNED IN NAVBAR -->
<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">        

    <!-- Signup Link if User is not signed in -->

    <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
        <li ui-route="/signup" ng-class="{active: $uiRoute}">
            <a href="/#!/signup">Sign Up</a>
        </li>
        <li class="divider-vertical"></li>
        <li ui-route="/signin" ng-class="{active: $uiRoute}">
            <a href="/#!/signin">Sign In</a>
        </li>
    </ul>


    <!-- Drop Down Menu -->
    <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="/#!/settings/profile">Edit Profile</a>
                </li>
                <li>
                    <a href="/#!/settings/accounts">Manage Social Accounts</a>
                </li>
                <li data-ng-show="authentication.user.provider === 'local'">
                    <a href="/#!/settings/password">Change Password</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/auth/signout">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<!-- TASK DETAILS -->


<div class="tasks" ng-init = "showNewTaskForm = false ">

<div add-task>Come Inside!</div>

		<div class="btn btn-default" ng-click="showNewTaskForm = ! showNewTaskForm">
			New Task
		</div>

        <!-- Table -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class='col-md-1' ></th>
                    <th class='col-md-8' >

                    	<div class="list_name_display">
							{{lists[ getSelectedList() ].name}}
                    	</div>

					</th>
                    <th class='col-md-1' >Start Date</th>
                    <th class='col-md-1' >Due Date</th>
                    <th class='col-md-1' ></th>
                </tr>
            </thead>
			<tbody>

            	<!-- Add New Task to this Todo list-->
				<tr ng-show = "showNewTaskForm">
                    <form name="newTaskForm" id="newTaskForm" ng-submit="createTask( getSelectedList() )" novalidate>	                        
                            <div class="form-group">
                   
	                                <!--Checkbox (empty)-->
	                                <td class='col-md-1'></td>

	                                <td class='col-md-8'>
	                                    <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
	                                </td>

	                                <td class='col-md-1'>
	                                    <input type="date" data-ng-model="startDate" id="startDate" class="form-control" placeholder="Start Date">
	                                </td>
	                                
	                                <td class='col-md-1'>
	                                    <input type="date" data-ng-model="dueDate" id="dueDate" class="form-control" placeholder="End Date">
	                                </td>

									<td class='col-md-1'>
										<input type="submit" class="btn btn-default" ng-click="createTask(getSelectedList())">
									</td>


                            </div>

                            <div data-ng-show="error" class="text-danger">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        
                    </form>
                </tr>

                <!-- LIST ALL TASKS -->

                <tr class="vert-align" data-ng-repeat="task in lists[ getSelectedList() ].tasks" ng-class="{completedTask: task.status}">
                    <td>
                    	<input id="{{$index}}" type="checkbox" data-ng-bind="task.status" ng-checked="task.status" ng-click="toggleStatus(task)" >

                    	<!-- This label holds the custom checkbox styled via css -->
						<label for="{{$index}}"></label>

                    </td>
                    <td>
                    	{{task.name}}
                    </td>
                    <td>
        				<span data-ng-bind="task.startDate | date:'mediumDate'"></span>
                    </td>
                    <td>
						<span data-ng-bind="task.dueDate | date:'mediumDate'"></span>
                    </td>
                    
                    <td>
                    	<!-- Delete a task -->
	                    <div class="pull-right delete">
	                        <a ng-click="removeTask($index)">
	                            <i class="glyphicon glyphicon-trash"></i>
	                        </a>
	                    </div>
                    </td>
                </tr>
				
            </tbody>
        </table>

    <!-- Notify the user if there are no tasks -->
    <div class="alert alert-warning text-center" data-ng-hide="lists[ getSelectedList() ].tasks.length">
    	No Tasks added to this list yet, why don't you add one?
    </div>

</div>
