<section data-ng-controller="HomeController" class="unsigned-home">
	<div class="jumbotron text-center">

		<div class="row">
			<div class="headline">
				Your awesome tagline here. <br>
				Tell the world what you're all about.
			</div>

		</div>
		<div class="row">
			<p>
				<a class="btn btn-important btn-lg" href="/#!/signup">Sign Up Now</a>
			</p>
		</div>
	</div>

	<div class="row">

		<div class="features">
			<div class="col-md-4">
				<h2>
					Simple and Powerful
				</h2>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.
				</p>

			</div>
			<div class="col-md-4">
				<h2>
					Keyboard Shortcuts
				</h2>
				<p>
					Not enough software these days respects the fact that the longer your hands are on a keyboard, the faster you can be in and out of any piece of software - and that is exactly our goal.  Go ahead and press "?" to try it out!
				</p>
			</div>
			<div class="col-md-4">
				<h2>
					Driven by Context
				</h2>
				<p>
					Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla.
				</p>
			</div>
		</div>

	</div>




</section>
