
<div ng-include=" '/modules/core/views/header.client.view.html' "></div>


<div class="row" data-ng-controller="AuthenticationController">
	<div class="col-md-12 col-md-offset-2">
		<div class="signup">

			<div class="col-md-4">

				<!-- Sign In with Email -->
				<h3>Sign In with Email</h3>

				<div class="email-sign">
					<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
						<fieldset>
							<div class="form-group">
								<label for="username">Username</label>
								<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
							</div>
							<div class="text-center form-group">
								<button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
								<a href="/#!/signup">Sign up</a>
							</div>
							<div class="forgot-password">
								<a href="/#!/password/forgot">Forgot your password?</a>
							</div>
							<div data-ng-show="error" class="text-center text-danger">
								<strong data-ng-bind="error"></strong>
							</div>
						</fieldset>
					</form>

				</div>
			</div>

			<div class="col-md-4">
				<!-- Signin with Social Accounts -->
				<h3>Or use your Social Accounts</h3>

				<div class="social-sign">
					<a href="/auth/facebook" class="undecorated-link">
						<img src="/modules/users/img/buttons/facebook.png">
					</a>
					<a href="/auth/twitter" class="undecorated-link">
						<img src="/modules/users/img/buttons/twitter.png">
					</a>
					<a href="/auth/google" class="undecorated-link">
						<img src="/modules/users/img/buttons/google.png">
					</a>
					<a href="/auth/linkedin" class="undecorated-link">
						<img src="/modules/users/img/buttons/linkedin.png">
					</a>
					
				</div>
			</div>


		</div>
	</div>
</div>

<div ng-include=" '/modules/core/views/unsigned_footer.html' "></div>