/* LIST SIDEBAR STYLES */

.left_sidebar {

	.col-md-2 {
		border-right: 1px solid $grey;
		height: 100%;
	}


	color: $mediumGrey;
	font-weight: bold;
	// letter-spacing:-1pt;
	word-spacing: 2pt;
	font-family: helvetica, sans-serif;line-height:1;

	.search_bar {
		margin: 40px 0 0 0;
	}

	.form-control {
		font-family: "'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	   	font-weight: 100;
	}

	.section_title {
		text-transform: uppercase;
		padding: 35px 0 0 0;
	}

	// Button at the bottom of every sidebar section
	.add-new-sidebar-item {
		color: $activeBlue;
		text-align: center;
		display: inline-block;
	    width: 100%;
	}

	// Delete Sidebar List Item
	.delete-list {
		float: right;
	}

	.sidebar-table {

		table {

			width: 100%;
			margin: 25px 0 0 0;

			thead {
				text-transform: uppercase;
			}

			// When you hover on a row, highlight td
			tr:hover td {
				background-color: $lightGrey;
			}

			th {
				padding: 15px 0 15px 0;
			}

			td {
				padding: 15px 15px 15px 15px;

				a {
					color: $darkGrey;
					text-decoration: none;
				}
			}

			.activeList {
				color: $activeBlue;
				background-color: $lightGrey;
			}
		}
	}


	.lists {

		.form-control {
			margin-bottom: 10px;
		}

		.newListForm {

			td {
				padding: none;
			}

			input[type=text] {
				width: 80%;
			}

			.btn {
				float: right;
			}
		}
	}


}
