
$white: #FFFFFF;
$ultraLightGrey: #FAFAFA;
$lightGrey: #F9F9F9;
$grey: #d1d1d1;
$mediumGrey: #5E5E5E;
$darkGrey: #212121;

$activeBlue: #40A3F5;

@import 'bootstrap_flat';
@import 'left_sidebar';
@import 'signed_in_header';
@import 'tasks';
@import 'unsigned_home';
@import 'signup';


.activeTask {
	color: $activeBlue;
	background-color: $lightGrey;
}

// Fix to stop CSS elements overflowing
input {
        max-width: 100%;
}

.footer {
	height: 60px;
	background-color: $lightGrey;
	padding-top: 20px;

	p {
		float: right;
		padding-right: 30px;
	}
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

.content {
	margin: 0 0 0 0;
}
