/* TASK STYLES */



.list_name_display {
	font-family: "'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 100;
   	font-size: 48px;
   	margin-bottom: -10px;
}


.completedTask {
	background-color: #F2F2F2;
	color: #999;
}




/*.tasks tr .delete {
	display: none;	
}

.tasks tr:hover .delete {
	display: inline;	
}*/