/* LIST SIDEBAR STYLES */
.lists ul {
  list-style-type: none; }
.lists li .delete {
  display: none; }
  .lists li .delete :hover {
    display: inline; }
.lists .form-control {
  margin-bottom: 10px; }
.lists .newListForm .btn {
  float: right; }
